@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url(./assets/fonts/ProximaNova-Light.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url(./assets/fonts/ProximaNova-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url(./assets/fonts/ProximaNova-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url(./assets/fonts/ProximaNova-Bold.woff) format('woff');
}